{% extends 'base.html' %}
{% load static %}
{% block main %}
    <div class="col-md-9 col-lg-10 mt-0 p-0">
        <section class="head d-flex align-items-center p-5">
            <h4>404 Страница не найдена (пока...)</h4>


        </section>


        <section class="table-num p-3">
            <div class="row">
                <div class="col-md-12"
                     style="background-image: url('http://risovach.ru/thumb/upload/200s400/2019/08/generator/i-tak-soydet_217015291_orig_.png?'); background-repeat: no-repeat; height: 100vh; background-position: right;"></div>
            </div>

        </section>

        <section class="chart">
            <div class="col-10">
                <canvas id="myChart"></canvas>
            </div>
        </section>

    </div>
    </div>
    </div>
    </main>

{% endblock %}


