{% extends 'base.html' %}
{% load static %}
{% block main %}
    <div class="chat-faker" data-bs-toggle="modal" data-bs-target="#chatModal">
        <svg xmlns="http://www.w3.org/2000/svg" width="34.059" height="33.005" viewBox="0 0 24.059 23.005" class="svg replaced-svg">
            <g id="message-icon" transform="translate(1.06 1)">
                <path id="Union_3" data-name="Union 3" d="M.622,20.21a4.745,4.745,0,0,0,2.505-3.177A10.286,10.286,0,0,1,.74,10.439,10.537,10.537,0,0,1,11.37,0,10.537,10.537,0,0,1,22,10.439,10.537,10.537,0,0,1,11.37,20.88a10.736,10.736,0,0,1-4.985-1.217A11.074,11.074,0,0,1,1.272,21C.033,21-.518,20.678.622,20.21Z" transform="translate(0 0.002)" fill="#e9e7ff" stroke="#8280fd" stroke-linejoin="round" stroke-width="2"></path>
                <circle id="Ellipse_9" data-name="Ellipse 9" cx="1.5" cy="1.5" r="1.5" transform="translate(4.763 8.941)" fill="#8280fd"></circle>
                <circle id="Ellipse_12" data-name="Ellipse 12" cx="1.5" cy="1.5" r="1.5" transform="translate(9.834 8.941)" fill="#8280fd"></circle>
                <circle id="Ellipse_11" data-name="Ellipse 11" cx="1.5" cy="1.5" r="1.5" transform="translate(14.906 8.941)" fill="#8280fd"></circle>
            </g>
        </svg>
    </div>
    <div class="col-md-9 col-lg-10 mt-0 p-0">
        <section class="head d-flex align-items-center ">
            <div class="row">
                <div class="col-12">
                    <div class="ms-5 mt-5" >
                        <h3>Список компаний</h3>
                    </div>
                </div>

            </div>
        </section>

        <section class="addButton">
            <div class="row mt-3">
                <div class="col-12  d-flex justify-content-end pe-5">
                    <div class="dropdown d-inline">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-sync"></i> Обновить из сервиса
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">RusProfile.ru</a></li>
                            <li><a class="dropdown-item" href="{% url 'update_sbis' %}">CБИС Контрагенты</a></li>
                            <li><a class="dropdown-item" href="#">Контур.Фокус</a></li>
                            <li><a class="dropdown-item" href="#">СберКорус</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="list-company">
<div class="col-12 d-flex justify-content-center mt-3">
    <nav aria-label="Page navigation example ">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item inline-block">
                    <a class="page-link inline-block" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true"><</span>
                    </a>
                </li>
                <li class="page-item inline-block">
                    <a class="page-link inline-block" href="?page=1" aria-label="Previous">
                        <span aria-hidden="true">1</span>
                    </a>
                </li>
                <li class="page-item inline-block">
                    <a class="page-link inline-block" href="#" aria-label="Previous">
                        <span aria-hidden="true">...</span>
                    </a>
                </li>
            {% endif %}

            <li class="page-item"><a class="page-link" href="#"> {{ page_obj.number }}</a></li>

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true"> ... </span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number  }}" aria-label="Next">
                        <span aria-hidden="true"> > </span>
                    </a>
                </li>
            {% endif %}

        </ul>
    </nav>

</div>

            {% for q in object_list %}
                <div class="list-company-block" >
                <div class="row row pt-2 ps-5 pe-5 pb-5">

                    <div class="col-12  trans-block" id="company_{{ q.id }}">
                        <p class="companyName ms-2 mb-0 p-0">{{ q.full_name }}</p>
                        <div class="col-12 pursh-item">
                            <div class="row">
                                <div class="col-lg-10 col-md-9 p-4">
                                    <h6>ИНН/КПП {{ q.inn }}/{{ q.kpp }}</h6>
                                    <h6>ОГРН {{ q.ogrn }}</h6>
                                    <h6>Основной ОКВЭД: {{ q.get_main_okved2 }}</h6>
                                <a href="{% url 'suppliers_detail' q.id %}">Подробнее</a>
                                </div>


                            </div>

                        </div>

                    </div>
                </div>
            {% endfor %}

            </div>


        </section>
    </div>
    </div>
    </div>
    </main>

{% endblock %}


