{% extends 'base_supplier.html' %}
{% load static %}
{% block main %}
    <div class="col-md-9 col-lg-10 mt-0 p-0">
        <section class="head d-flex align-items-center ">
            <div class="ms-5 mt-5">
                <h3>Шаг 2: Запрос ценового предложения</h3>

            </div>


        </section>


        <section class="table-num p-3">
            <label for="">От кого:</label>
            <p>Акционерное общество "Русатом Сервис"</p>
            <label for="">Кому:</label>
            <p>АРХИМЕТСТРОЙ-РУС</p>
            Проведение данной процедуры сбора информации не влечет за собой возникновения каких-либо обязательств для
            заказчика.
            <form method="POST" action="{% url 'print' %}">
                {% csrf_token %}
                <table class="table" id="form-table-add">

                    <thead>
                    <tr id="num1">
                        <td>Номенклатура</td>
                        <td>Единица измерения</td>
                        <td>Количество</td>
                        <td>Цена</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for qn in qs.query.query_nomenclature.all %}
                        <tr>
                            <td>{{ qn.nomenclature }}</td>
                            <td>{{ qn.ie }}</td>
                            <td>{{ qn.count }}</td>
                            <td><input type="text" value="" name="price{{ forloop.counter0 }}" placeholder="Цена за шт">
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Немного дополнительной информации</h3>
                <div class="row">

                    <div class="col-6">
                        <label for="">Срок действия цены</label>
                        <input type="date" class="form-control" name="date_end">
                    </div>
                    <div class="col-6">
                        <label for="">Цены указаны?</label><br>
                        С НДС <input type="radio" name="nds" id="nds" value="nds">
                        <br>
                        БЕЗ НДС <input type="radio" name="nds" id="no_nds" value="no_nds">
                    </div>

                </div>


                <textarea name="ext" id="" class="form-control p-2"
                          placeholder="Имеются ли дополнительные затраты" ></textarea>
                <input type="hidden" value="{{ qs.id }}" name="qs" >
                <div class="col-12 d-flex mt-3 justify-content-between">

                    <a href="{% url 'step3' qs.id %}" class="btn btn-success">Дальше</a>
                    <button type="submit" class="btn btn-success">Распечатать</button>

                </div>
            </form>

        </section>

    </div>
    </div>
    </div>
    </main>
{% endblock %}
