{% extends 'base_supplier.html' %}
{% block main %}
    <div class="col-md-9 col-lg-10 mt-0 p-0">
        <section class="head d-flex align-items-center ">
            <div class="ms-5 mt-5" >

            </div>


        </section>


        <section class="table-num p-3">
            <div class="col-12 text-center">
                <h3>Создайте коммерческое предложение за 3 простых шага</h3>
                <div class="d-flex justify-content-center">

                    <a href="{% url 'step1' qs.id %}" class="btn btn-lg btn-success">Вперед</a>
                </div>
            </div>
        </section>

    </div>
    </div>
    </div>
    </main>
{% endblock %}
